# Assignment No.1

### 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

### * 
### 'hello' 
### -87.8
### -
### /
### +
### 6

Ans: 
    In above question values are : 'hello', -87.8 , 6
    and mathematical operators are: *, - , /, +

### 2. What is the difference between string and variable?

Ans:
Variable : It is used to store a value in a memory location.
    e.g. x = 13, here x is a variable which stores the value 13.
    
String : It is a sequence of characters. In addition to letters, it can also include numbers, spaces, etc.
    Anything assigned to a varible in single/double quotes is considered as string.
    e.g. a = "Python"

### 3. Describe three different data types.

Ans:
    1. Numeric data type:
    Python supports three different numeric data types : int, float, complex. All of these holds numeric values.
    
    2. String (str) data type:
    It holds the sequence of characters (may contain numbers, spaces,etc) enclosed in single/double quotes.
    e.g. x = "python1"
    
    3. List and Tuple:
    These are sequence data types which contains collection of elements.
    e.g. l = [1,2,'hello'] is the list data type.
         T = (a,b,c,d) is the tuple.

### 4. What is an expression made up of? What do all expressions do?

Ans:
   1.  An expression is made up of values, variables and operators. 
    E.g. x = 2,
    y = 1,
    z = x+y.
    Here, all are expressions.
    
   2. Expression always evalutes/calculates itself.
    e.g. In earlier example, expression z = x+y,after evaluating itself, gives the result as 3

### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans:
Expression:
    1. An expression evaluates to a value.
    2. Evaluation of an expression always produces/returns a result value.
    3. Every expression can not be a statement.
    4. E.g. x = 2, y = 1, z = x+y.
    
Statement:
    1. Statement executes something.
    2. Execution of a statement may or may not produce a result value. It only does whatever the statement says.
    3. Every statement can be a expression.
    4. E.g. x = 3
       print(x), here print(x) is a statement, whereas x = 3 is an expression.

### 6. After running the following code, what does the variable bacon contain? 
bacon = 22
bacon + 1

Ans : 
After running above code, bacon contains value 23.

### 7. What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;
&#39;spam&#39; * 3

Ans : 
    The value of both the terms will be 'spamspamspam'

### 8. Why is eggs a valid variable name while 100 is invalid?

Ans:
Since variable names can not begin with number, 100 is invalid variable name.

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [ ]:
Ans:
    int(), float(), str() these three functions are used respectively to get the integer, float-point number and 
    string version of a value.

### 10. Why does this expression cause an error? How can you fix it? 'I have eaten' + 99 + 'burritos'

Ans: 
    Here the error occurs because string concatination can only concatenate str (not "int") to str. So in order to 
    fix this problem we have to include 99 in single/double quotes, so that string concatination will take place.

In [9]:
'I have eaten' +  ' 99'  +  ' burritos'

'I have eaten 99 burritos'